name: .NET Core Desktop
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    env:
      Solution_Name: SchoolProject.sln                         # Replace with your solution name, i.e. MyWpfApp.sln.
      Test_Project_Path: SchoolProject.Tests\Tests.csproj                 # Replace with the path to your test project, i.e. MyWpfApp.Tests\MyWpfApp.Tests.csproj.

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    # Add  MSBuild to the PATH: https://github.com/microsoft/setup-msbuild
    # - name: Setup MSBuild.exe
    #   uses: microsoft/setup-msbuild@v2
    
    # 3. Restore dependencies 
    - name: Restore dependencies
      run: dotnet restore

    - name: Build solution
      run: dotnet build --no-restore --configuration Release
      
    # Execute all unit tests in the solution
    - name: Execute unit tests
      run: dotnet test  --no-build --configuration Release --verbosity normal

    - name: Publish API
      run: |
        dotnet publish Server/Server.csproj \
        --configuration Release \
        --output publishes

    - name: Upload DLL artifact
      uses: actions/upload-artifact@v4
      with:
        name: MyApi-DLL
        path: publishes  
